
.card{
    width: 50%;
    display: flex;
    justify-content: center;
}
.card-body{
    width: 100%;
}
img{
    object-fit: cover;
    width: 100%;
}
.Fecha{
    font-size:x-small;
}
p{
    font-size: small;
}

col-4{
    margin-right: 5px;
}
.boton1, .boton2{
    background-color: rgb(255, 255, 255);
    color: rgb(206, 206, 206);
} 


